.blogStyles {
    font-family: 'Source Serif Pro', 'Oxanium', serif !important;
    font-size:   1.2rem;
    line-height: 1.625;

    @media (max-width: 768px) {
        font-size: 1rem
    }


    &.blogLarge {
        font-size: 1.400rem !important;
        font-style: italic;
        color: #999999;

        @media (max-width: 768px) {
            font-size: 1.2rem !important;
        }

    }

    p {
        margin-bottom: 0.5em;
        line-height: 1.6em;
    }

    h2 {

        color:         #002C57;
        font-size:     1.6em;
        font-family:   'Oxanium', serif !important;
        font-weight:   600;
        margin-top:    2.5rem;
        margin-bottom: 0.5rem;

        @media (max-width: 768px) {
            font-size: 1rem
        }

    }

    strong {
        color:       #119DA4;
        font-weight: 600;
    }

    a {
        color:       #119DA4;
        font-weight: 500;
        font-family: 'Source Serif Pro', 'Oxanium', serif !important;

        &:hover {
            text-decoration: underline;

        }
    }

    figcaption {
        color:      #d4d4d4;
        font-size:  0.875rem;
        width:      100%;
        text-align: center;
    }

    img {
        margin: 16px auto 0 auto;
    }

    blockquote {
        position:       relative;
        font-family:    'Source Serif Pro', 'Oxanium', serif !important;
        font-size:      1em;
        margin-top:     2em;
        margin-bottom:  0.5em;
        color:          #002C57;
        padding-left:   40px;
        padding-bottom: 48px;
        padding-right:  32px;

        @media (min-width: 768px) {
            font-size: 2rem
        }

        &::before {

            position:  absolute;
            left:      2px;
            font-size: 4.5rem;
            top:       -18px;
            color:     rgba(0, 44, 87, 0.54);

            @media (min-width: 768px) {
                left: 0;
                top:  -12px;
            }

            content:   '"'
        }
    }

    ul {
        li {
            list-style: disc outside none;
            padding-bottom: 12px;
        }
    }


}

.excerptText {

    font-family: 'Source Serif Pro', 'Oxanium', serif !important;
    font-size:   1.2rem;
    line-height: 1.625;

    @media (max-width: 768px) {
        font-size: 1rem
    }

    strong {
        color: #119DA4;
        font-weight: bold;
    }

    p {
        margin-bottom: 5px;
    }

}

.teaserText {

    font-size:   1.2rem;
    line-height: 1.625;

    @media (max-width: 768px) {
        font-size: 1rem
    }

    strong {
        color: #119DA4;
        font-weight: normal;
    }

}
