.featureStyles {

    strong {
        color: #FF7F00;
    }

}
.featureStylesParagraph {

    strong {
        color: #002C57;
        border-bottom: 1px dotted #002C57;
        font-weight: 700;
    }

}
