@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

@layer utilities {
  body {
    //background-color: rgb(245 245 245);
    @apply bg-neutral-100;
  }
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  @apply focus:ring-0;
}
